<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Index Page</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'books/index.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Welcome to Our Book Collection</h1>
      </header>

      <main>
        <p class="intro-text">
          Explore our curated list of amazing books. Start browsing now.
        </p>
        <a href="{% url 'get_all_books' %}" class="btn-view-books"
          >View All Books</a
        >
      </main>

      <footer>
        <p>&copy; 2024 Your Book Collection</p>
      </footer>
    </div>
  </body>
</html>
